<div style="display: flex; flex-direction: column;">
    @for (item of items; track item.id) {
    <button class="button">
        <label>{{ item.name }}</label>
        <div style="display: flex; justify-content: space-between;">
            <p style="    
            display: flex;
            flex-direction:column;">
                <span>
                    <img src="/assets/icons/coin_icon.png" [alt]="'Gold ' + item.price" />
                </span>{{item.price}}
            </p>
            <p style="    
            display: flex;
            flex-direction:column;">
                <span>
                    <img src="/assets/icons/dps_icon.png" [alt]="'DPS ' + item.dps" />
                </span>{{item.dps}}
            </p>
        </div>
        <p>Level: {{item.level}}</p>
    </button>
    }
</div>