<div style="">
    @for(hero of heroList; track hero.Id){ @if(hero.Level<=1){
    <div></div>
    } @else{
    <div style="margin: 12px">
        <div style="display: flex; flex-direction: column">
            <span style="align-self: center">
                <img src="./assets/characters/{{ hero.Name }}.png" />
            </span>
            <label></label>
        </div>
        <div style="display: flex; justify-content: space-between">
            <p>Hp:{{ hero.Hp }}</p>
            <p>Dps:{{ hero.Dps }}</p>
        </div>
        <p>Level:{{ hero.Level }}</p>
        <button class="button" (click)="openInventory(hero)">Inventory</button>
    </div>
    } }
    <dialog #dialog>
        This is a dialog.
        <button (click)="closeInventory()">Close</button>
    </dialog>
</div>
