<div
    style="display: flex; flex-direction: column; overflow: scroll; overflow-x: hidden; height: 300px; margin:8px; border: solid 1px white;">
    @for (item of items; track item.id) {
    <button class="button" (click)="BuyItem(item)">
        <label>{{ item.name }}</label>
        <div style="display: flex; justify-content: space-between;">
            <p style="    
                    display: flex;
                    flex-direction:column;">
                <span>
                    <img src="/assets/icons/coin_icon.png" [alt]="'Gold ' + item.price" />
                </span>{{item.price}}
            </p>
            <p style="    
                    display: flex;
                    flex-direction:column;">
                <span>
                    <img src="/assets/icons/dps_icon.png" [alt]="'clickDamage ' + item.clickDamage" />
                </span>{{item.clickDamage}}
            </p>
        </div>
        <p>Level: {{item.level}}</p>
    </button>
    }
</div>