<main id="app">
    <phaser-game />
    <div>
        @if(PlayerData){
        <div>
            <label class="container">{{ PlayerData.GetName() }}</label>
            <div class="container">
                Gold:{{ PlayerData.GetGold() }}
            </div>
            <div class="container">
                DPS:{{ PlayerData.GetDps() }}
            </div>
            <div class="container">
                Click Damage:{{ PlayerData.GetClickDamage() }}
            </div>
        </div>
        <div *ngIf="openMenuPanel">
            <div>
                <button class="button" (click)="OpenItemsPanel()">Items </button>
            </div>
            <div>
                <button class="button" (click)="OpenHeroesPanel()">Heroes</button>
            </div>
            <div>
                <button class="button" (click)="OpenUpgradesPanel()">Upgrades</button>
            </div>
        </div>

        @if (openItemsPanel) {
        <app-items [items]="PlayerData.GetItems()"></app-items>

        }

        @if(openHeroesPanel){
        <app-heroes [heroes]="PlayerData.GetHeroes()"></app-heroes>
        }

        @if(openUpgradePanel){
        <app-upgrades [itemList]="PlayerData.GetItems()"></app-upgrades>
        }

        @if (!openMenuPanel) {
        <button class="button" (click)="Back()">Back</button>
        }
        }

    </div>

</main>