<main id="app">
    <phaser-game />
    <div>
        @if(PlayerData){
        <div>
            <label class="container">{{ PlayerData.GetName() }}</label>
            <div class="container">
                Gold:{{ FormatNumber(PlayerData.GetGold()) }}
            </div>
            <div class="container">
                DPS:{{ FormatNumber(PlayerData.GetDps()) }}
            </div>
            <div class="container">
                Click Damage:{{ FormatNumber(PlayerData.GetClickDamage()) }}
            </div>
        </div>
        @if(openMenuPanel){
        <div>
            <div>
                <button class="button" (click)="OpenItemsPanel()">Items </button>
            </div>
            <div>
                <button class="button" (click)="OpenUpgradesPanel()">Upgrades</button>
            </div>
            <div>
                <button class="button" (click)="OpenHeroesPanel()">Heroes</button>
            </div>
        </div>
        }

        @if (openItemsPanel) {
        <app-items [items]="PlayerData.GetItems()" [gold]="PlayerData.GetGold()"></app-items>
        }

        @if(openHeroesPanel){
        <app-heroes [heroes]="PlayerData.GetHeroes()"></app-heroes>
        }

        @if(openUpgradePanel){
        <app-upgrades [itemList]="PlayerData.GetItems()"></app-upgrades>
        }

        @if (!openMenuPanel) {
        <button class="button" (click)="Back()">Back</button>
        }
        }
    </div>
</main>
<div style="display: flex; justify-content: center; ">
    <div style="margin: 12px;">
        <div style="display: flex; flex-direction: column;">
            <span style="align-self: center;">
                <img src="/assets/icons/coin_icon.png" />
            </span>
            <label></label>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <p>Hp: </p>
            <p>Dps: </p>
        </div>
        <p>Level: </p>
        <button class="button">Inventory</button>
    </div>
    <div style="margin: 12px;">
        <div style="display: flex; flex-direction: column;">
            <span style="align-self: center;">
                <img src="/assets/icons/coin_icon.png" />
            </span>
            <label></label>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <p>Hp: </p>
            <p>Dps: </p>
        </div>
        <p>Level: </p>
        <button class="button">Inventory</button>
    </div>
    <div style="margin: 12px;">
        <div style="display: flex; flex-direction: column;">
            <span style="align-self: center;">
                <img src="/assets/icons/coin_icon.png" />
            </span>
            <label></label>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <p>Hp: </p>
            <p>Dps: </p>
        </div>
        <p>Level: </p>
        <button class="button">Inventory</button>
    </div>
    <div style="margin: 12px;">
        <div style="display: flex; flex-direction: column;">
            <span style="align-self: center;">
                <img src="/assets/icons/coin_icon.png" />
            </span>
            <label></label>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <p>Hp: </p>
            <p>Dps: </p>
        </div>
        <p>Level: </p>
        <button class="button">Inventory</button>
    </div>
    <div style="margin: 12px;">
        <div style="display: flex; flex-direction: column;">
            <span style="align-self: center;">
                <img src="/assets/icons/coin_icon.png" />
            </span>
            <label></label>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <p>Hp: </p>
            <p>Dps: </p>
        </div>
        <p>Level: </p>
        <button class="button">Inventory</button>
    </div>
</div>