<main id="app">
    @if(PlayerData){ @if (PlayerData.Heroes.length > 0) {
    <app-heroes-list [heroList]="PlayerData.Heroes"></app-heroes-list>
    } }
    <phaser-game />
    @if(PlayerData){
    <div>
        <div>
            <label class="container">{{ PlayerData.Name }}</label>
            <div class="container">
                Gold:{{ FormatNumber(PlayerData.Gold) }}
            </div>
            <div class="container">
                DPS:{{ FormatNumber(PlayerData.Dps) }}
            </div>
            <div class="container">
                Click Damage:{{ FormatNumber(PlayerData.ClickDamage) }}
            </div>
        </div>
        @if(openMenuPanel){
        <div>
            <div>
                <button class="button" (click)="OpenItemsPanel()">Items</button>
            </div>
            <div>
                <button class="button" (click)="OpenUpgradesPanel()">
                    Upgrades
                </button>
            </div>
            <div>
                <button class="button" (click)="OpenHeroesPanel()">
                    Heroes
                </button>
            </div>
            <div>
                <button class="button" (click)="OpenPlayerInventoryPanel()">
                    Player Inventory
                </button>
            </div>
        </div>
        } @if (openItemsPanel) {
        <app-items
            [items]="PlayerData.Items"
            [gold]="PlayerData.Gold"
        ></app-items>
        } @if(openHeroesPanel){
        <app-heroes [heroes]="PlayerData.Heroes"></app-heroes>
        } @if(openUpgradePanel){
        <app-upgrades [itemList]="PlayerData.Items"></app-upgrades>
        }@if(openPlayerInventoryPanel){
        <app-player-inventory [playerItems]="[]"></app-player-inventory>
        } @if (!openMenuPanel) {
        <button class="button" (click)="Back()">Back</button>
        }
    </div>
    }
</main>
